html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  background-image: url(/Images/jungle-background.jpg); /*Bilde av Greg Galas fra Pexels */
  background-size: cover;
  background-position: center;
  position: relative;
  border: black 5px solid;
  width: 80%;
  height: 90%;
  left: 10%;
  top: 5%;
  bottom: 5%;
  overflow: hidden;
}

.heymonkey {
  position: absolute;
  width: 25%;
  height: 50%;
  bottom: 0;
  animation-name: Heymonkey;
  transition: width 1s, height 1s;
}

.heymonkey:hover {
  cursor: pointer;
  width: 40%;
  height: 80%;
}

.txtbubble {
  position: absolute;
  left: 10%;
  width: 30%;
  height: 25%;
  border-radius: 50%;
  border: 3px white solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  transition: ease-in;
  opacity: 0;
  transition-duration: 1s;
  animation-name: Textbubble;
}

.heymonkey:hover ~ .txtbubble {
  opacity: 1;
}

.flyingparrot {
  position: absolute;
  top: 20%;
  width: 150px;
  height: 100px;
  animation-name: Flying-parrot;
  left: -15%;
}

@keyframes Flying-parrot {

}