html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  background-image: url(/Images/jungle-background.jpg); /*Bilde av Greg Galas fra Pexels */
  background-size: cover;
  background-position: center;
  position: relative;
  border: black 5px solid;
  width: 80%;
  height: 90%;
  left: 10%;
  top: 5%;
  bottom: 5%;
}

.heymonkey {
  position: absolute;
  width: 40%;
  height: 80%;
  margin-top: 10%;
}

.heymonkey:hover {
  cursor: pointer;
}
